
<section class="hero">
  <div class="jumbotron search-widget">
    <h3>Book your perfect musical vacation</h3>
    <form class="form-inline">
      <div class="form-group">
        <input type="place" class="form-control" placeholder="Where to?">
      </div>
      <div class="form-group">
        <input type="check-in" class="form-control" placeholder="Check in">
      </div>
      <div class="form-group">
        <input type="check-out" class="form-control" placeholder="Check out">
      </div>
      <button type="submit" class="btn btn-primary">Find Properties</button>
    </form>
  </div>
</section>

<section class="three-points">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 point">
        <div class="row">
          <div class="col-xs-3"><i class="fa fa-music"></i></div>
          <div class="col-xs-9"><p>Our homes include the musical instrument that you can't take with you.</p></div>
        </div>
      </div>
      <div class="col-sm-4 point">
        <div class="row">
          <div class="col-xs-3"><i class="fa fa-volume-up"></i></div>
          <div class="col-xs-9"><p>Old or young can share and play whatever they love so much.</p></div>
        </div>  
      </div>
      <div class="col-sm-4 point">
        <div class="row">
          <div class="col-xs-3"><i class="fa fa-compass"></i></div>
          <div class="col-xs-9"><span>You'll love exploring new neighborhoods with joy & laught.</span></div>
        </div>
      </div>
    </div>
  </div>  
</section>

<section class="promo">
  <div class="container">
    <h2 class="text-center">Explore With Us</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default panel-1">
          <div class="panel-heading" style="background-image: url(<%= image_url('room') %>)">
            <span class="price-label">€36</span>
          </div>
          <div class="panel-body">
            <%= image_tag "user-avatar6", class: "panel-profile-img img-circle pull-right" %>
            <h5 class="panel-title">Title</h5>
            <p>Description</p>
            <img src="" class=>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default panel-1">
          <div class="panel-heading" style="background-image: url(<%= image_url('room') %>)">
            <span class="price-label">€36</span>            
          </div>
          <div class="panel-body">
            <%= image_tag "user-avatar6", class: "panel-profile-img img-circle pull-right" %>
            <h5 class="panel-title">Title</h5>
            <p>Description</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default panel-1">
          <div class="panel-heading" style="background-image: url(<%= image_url('room') %>)">
            <span class="price-label">€36</span>
          </div>
          <div class="panel-body">
            <%= image_tag "user-avatar6", class: "panel-profile-img img-circle pull-right" %>
            <h5 class="panel-title">Title</h5>
            <p>Description</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

