
<div class="container locations-wrapper">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Refine Your Search</h3>
        </div>
        <ul class="list-group">
        <%= form_tag locations_path, method: :get do %>
          <li class="list-group-item">
            <h5>Destination</h5>
            <div class="form-group">
              <%= text_field_tag(:address, nil, class: "form-control", placeholder: "where to? city, state, address") %>
            </div>
          </li>
          <li class="list-group-item">
            <h5>Travel Dates</h5>
            <div class="form-group"> 
              <%= text_field_tag(:start_date, nil, id: "datepicker-start", class: "form-control", placeholder: "check in") %>
            </div>
            <div class="form-group">
              <%= text_field_tag(:end_date, nil, id: "datepicker-end", class: "form-control", placeholder: "check out") %>
            </div>
          </li>
          <li class="list-group-item">
            <h5>Musical Instruments</h5>
            <div class="form-group">
              <%= select_tag "musical_instrument", "<option>Piano</option><option>Drums</option><option>Cello</option>".html_safe, prompt: "Select Musical Instrument" %>
            </div>
          </li>
          <li class="list-group-item">
            <h5>Guests</h5>
            <div class="form-group">
              <%= select_tag "guests", "<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option>".html_safe, prompt: "Select Guests" %>
            </div>
          </li>
          <li class="list-group-item">
            <%= submit_tag "Find Properties", name: "commit", class: "btn btn-primary" %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <% @locations.each do |location| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-5">
                <% unless location.location_images.empty? %>
                  <%= link_to( image_tag(location.location_images[0].picture.url(:square), class: "location-picture", alt: "location picture"), location ) %>
                <% end %>
              </div>
              <div class="col-md-7">
                <h2><%= link_to( location.title, location, class: "location-link" ) %></h2>
                <h5><em><%= location.address_1 %>, <%= location.city %></em></h5>
                <p class="text-wrapper"><%= location.description %></p>
                <h5 class="text-wrapper">Musical Instrument: <%= location.musical_instrument %></h5>
                <h6 class="text-uppercase"><%= location.guests %> guests</h6>
                <h6 class="text-uppercase"><%= number_to_currency(location.night_rate, unit: '€') %> / night</h6>
                <h5 class="text-capitalize location-link text-wrapper"><i class="fa fa-arrow-circle-right"></i><%= link_to("View this property", location, class: "location-link" ) %> <h5>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      
      <div class="pagination-wrapper">
        <%= link_to_previous_page @locations, '<i class="fa fa-chevron-left" aria-hidden="true"></i> Previous'.html_safe, class: "pagination-link btn btn-warning" %>
        <%= link_to_next_page @locations, 'Next <i class="fa fa-chevron-right" aria-hidden="true"></i>'.html_safe, class: "pagination-link btn btn-warning" %>
      </div>
    </div>
  </div>
</div>
