
<div class="container locations-wrapper">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Refine Your Search</h3>
        </div>
        <div class="panel-body">
          Search
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <% @locations.each do |location| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-5">
                <% unless location.location_images.empty? %>
                  <%= link_to( image_tag(location.location_images[0].picture.url(:square), class: "location-picture", alt: "location picture"), location ) %>
                <% end %>
              </div>
              <div class="col-md-7">
                <h2><%= link_to( location.title, location, class: "location-link" ) %></h2>
                <h5><em><%= location.address_1 %>, <%= location.city %></em></h5>
                <p class="text-wrapper"><%= location.description %></p>
                <h5 class="text-wrapper">Musical Instrument: <%= location.musical_instrument %></h5>
                <h6 class="text-uppercase"><%= location.guests %> guests</h6>
                <h6 class="text-uppercase"><%= number_to_currency(location.night_rate, unit: '€') %> / night</h6>
                <h5 class="text-capitalize location-link text-wrapper"><i class="fa fa-arrow-circle-right"></i><%= link_to("View this property", location, class: "location-link" ) %> <h5>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
