<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @location.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @location.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @location.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @location.postcode %>
</p>

<p>
  <strong>Musical instrument:</strong>
  <%= @location.musical_instrument %>
</p>

<p>
  <strong>Night rate:</strong>
  <%= @location.night_rate %>
</p>

<p>
  <strong>Guests:</strong>
  <%= @location.guests %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Images:</strong>
</p>
<div class="fotorama" data-auto="false" data-nav="thumbs">
  <% @location.location_images.each do |image| %>
    <%= image_tag image.picture.url(:square), class: "location-picture", alt: "location picture" %>
  <% end %>
</div>

<div id="map"></div>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>

<script type="text/javascript">
  google.maps.event.addDomListener(window, 'load', initMap(<%= @location.latitude || 0 %>, <%= @location.longitude || 0 %>));
</script>

