
<div class="container location-page">
  
  <section>
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-uppercase"><%= @location.title %></h1>
      </div>

      <div class="col-md-6 pull-right">
        <div class="pull-right">
          <h5><%= @location.address_1 %></h5>
          <h5><%= @location.address_2 if @location.address_2 %></h5>
          <h5><%= @location.city if @location.city %></h5>
          <h5><%= @location.state if  @location.state %></h5>
          <h5><%= "#{@location.postcode}" if @location.postcode %></h5>
        </div>
        
      </div>
    </div>
  </section>
  
  <section>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for Reservation.new, url: new_reservation_path, html: { method: :get, class: "form-inline" }  do |f| %>
          <%= f.hidden_field :location_id, value: @location.id %>
          <label class="text-uppercase dates-form">Travel Dates</label>       
          <div class="form-group">
            <%= f.text_field :start_date, id: "datepicker-start", class: "form-control", placeholder: "check in" %>
          </div>
          <div class="form-group">
            <%= f.text_field :end_date, id: "datepicker-end", class: "form-control", placeholder: "check out" %>
          </div>
          <%= f.submit "Reserve Location", class: "btn btn-warning pull-right" %>
          <span id="text-center" class="text-uppercase pull-right"><%= number_to_currency(@location.night_rate, unit: '€') %> per night</span>
        <% end %>
      </div>
    </div>
  </section>

  <section>
    <div class="fotorama" 
          data-auto="false" 
          data-nav="thumbs" 
          data-width="100%"
          data-ratio="4/3">
      <% @location.location_images.each do |image| %>
        <%= image_tag image.picture.url(:square), class: "location-picture", alt: "location picture" %>
      <% end %>
    </div>
  </section>
  
  <section>
    <h3>Description:</h3>
    <p><%= @location.description %></p>
  </section>
  
  <section>
    <h5>Max guests</h5>
    <p><%= @location.guests %></p> 
  </section>
  
  <section>
    <h5>Musical instrument</h5>
    <p><%= @location.musical_instrument %></p>
  </section>

  <section id="profile">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag @location.member.profile.avatar.url(:square), class: "profile-picture", alt: "profile picture" %>
      </div>
      <div class="col-md-9">
        <h3><%= @location.member.name %></h3>
        <h5><%= @location.member.profile.bio %></h5>
      </div>
    </div>
  </section>
</div>

 
<div class="container-fluid">
  <div id="map"></div>
</div>


<!-- SCRIPT for google maps and availableDates-->
<script type="text/javascript">
  google.maps.event.addDomListener(window, 'load', initMap(<%= @location.latitude || 0 %>, <%= @location.longitude || 0 %>));

  var availableDates = <%= @available_dates.to_s.html_safe %>
</script>

